._DS_Store
._ecoli.fasta
bin
chr4.fasta
chr22.fasta
entire ecoli digestion
JainabCleaned
JainabCode
peptides
/reports
reports - saved
sequences ecoli
sequences encode
spectra ecoli
spectra ecoli579
spectra encode
spectra human677
spectra problem
spectraB
src copy
tests
UPS
other
spectra
sequences
validation
jobs
peptides.txt

/chr22.fa
/FPR/
/src/Validate/FPRimp.java
/FPR-TandemFit-forwards.txt
/FPR-TandemFit-reverse.txt
/FPR-TandemFit.txt
/PTM_IS_AWESOME.jpg
/spectrumPTM.jpg
/spectrumPTM18.jpg
/spectrumPTM23.jpg
/spectrumPTM8.jpg
/spectrumPTM9.jpg
/FPR-Peppy.Match_IMP-forwards.txt
/FPR-Peppy.Match_IMP-reverse.txt
/FPR-Peppy.Match_IMP.txt
/FPRimp-TandemFit-forwards.txt
/FPRimp-TandemFit-reverse.txt
/FPRimp-TandemFit.txt
/AltSpliceTool.jar
/chr12_65160417-65210417.csv
/chr12_65160417-65210417.fasta
/jobs-complete/
/optimal paramters/
/Peppy.zip
/Peppy/
/.classpath
/errors.txt
/gencode.v7.pc_translations-reduced.fa
/gencode.v7.pc_translations.fa
/ipi-reduced.fasta
/ipi.HUMANnobreaks.fasta
/properties.txt
/exported peptides/
/Peppy-no-e-cutoff.jar
/Peppy-regions.jar
/exported mass lists/
/jobs-off/
/MassListGenerator.jar
/jobs-doworknow/
/jobs-yale/
FDR WHIM2/
altered genome/
protein comparison 033/
protein comparison 8/
modification comparison/
Pandey analysis/
peptide comparison/
WHIM16 analysis/
whim2 expression on chr8.txt
jobsTODO/
WHIM16-Ellis033 analysis/
WHIM2-Ellis033 analysis/
/src/Peppy/Properties.java
/ probailityGrid.png
/BestMatches.jar
/bucketReport.txt
/CommonIonCount Human.txt
/CommonIonCount SwissProt.txt
/CommonIonCount.txt
/probailityGrid chr1.png
/probailityGrid.jpg
/probailityGrid.png
/probailityGridA.jpg
/probailityGridB.png
/regions-of-interest.csv
/jobs completed/
/bd498a58303fa742e1b789e9d8aa0eba.svg
/BROAD.txt
/combinedProbabilities/
/E coli.txt
/probability tallies.txt
/sixFrameSequences/
/spectrumSequenceProbabilities/
/unified samples report-spectra.html
/unified samples report.xlsx
/Peppy.jar

/Navigator.jar
.idea
target
