._DS_Store
._ecoli.fasta
bin
chr4.fasta
chr22.fasta
entire ecoli digestion
JainabCleaned
JainabCode
peptides
reports
reports - saved
sequences ecoli
sequences encode
spectra ecoli
spectra ecoli579
spectra encode
spectra human677
spectra problem
spectraB
src copy
tests
UPS
other
spectra
properties.txt
sequences
validation
jobs
peptides.txt
Peppy.jar
